<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <title>Switch {{.title}}</title>
    <link rel="stylesheet" href="/assets/layui@2.9.13/css/layui.css"/>
    <script src="/assets/layui@2.9.13/layui.js"></script>
    <script src="/assets/jquery@3.7.1/jquery.min.js"></script>
    <script src="/assets/vue@2.7.16/vue.min.js"></script>
</head>
<body>
Welcome page.<br>
<a href="/">首页</a> | <a href="/catalog">类目</a> | <a href="/login">登录</a>
</body>
</html>