<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/zui@3.0.0/zui.css" />
    <script type="text/javascript" src="/assets/jquery@3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/vue@2.6.14/vue.min.js"></script>
    <script type="text/javascript" src="/assets/zui@3.0.0/zui.js"></script>
</head>
<body>
{{ .title }}
<br>
<a href="/catalog">查看类目</a>
</body>
</html>
