<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf-token" content="ZOZu6UYAdCNBBnamL0oAuvtQDXNwy6b8gaM5hZbd">
  <title>道思 - IoT技术服务和解决方案提供商</title>
  <meta name="description" content="道思是领先的IoT技术服务和解决方案提供商，秉承“技术拓展商业边界”的经营理念，为亿级海量用户提供稳定优质的各类服务、内容及基础设施，力争构建万物互联更加丰富多彩的世界。" />
  <script src="/static/js/app.js" defer></script>
  <link href="/static/css/app.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        道思
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="切换导航">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav mr-auto">

        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Authentication Links -->
          <li class="nav-item">
            <a class="nav-link" href="/login">登录</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">注册</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="py-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="m-b-md">
          Daosoft
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>
