{{define "portal/header"}}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{.csrf_token}}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{.page_title}}</title>
    <meta name="keywords" content="{{.page_keywords}}">
    <meta name="description" content="{{.page_description}}">
    <link rel="stylesheet" href="/assets/layui/dist/css/layui.css">
    <script type="text/javascript" src="/assets/layui/dist/layui.js"></script>
    <script type="text/javascript" src="/assets/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="/themes/default/css/app.css">
    <script type="text/javascript" src="/themes/default/js/app.js"></script>
</head>
<body>
{{end}}
