{{ define "console/auth_login.tmpl" }}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/assets/layui@2.9.10/css/layui.css" />
    <script type="text/javascript" src="/assets/layui@2.9.10/layui.js"></script>
</head>
<body>
Login page
</body>
</html>
{{ end }}