{{ define "console/index.tmpl" }}
<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
{{ .title }}
<p>Using manager/index.tmpl</p>
</body>
</html>
{{ end }}