.fl {
    float: left;
}

.fr {
    float: right;
}

.shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}

.shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}

.shortcut li {
    float: left;
    margin: 0 3px;
    font-size: 12px;
}

.shortcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

.header {
    background: #fff;
    border-bottom: 1px solid #ddd;
}
