<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
    <title>Welcome</title>
    <link rel="stylesheet" href="/assets/layui/dist/css/layui.css">
    <script type="text/javascript" src="/assets/layui/dist/layui.js"></script>
    <script type="text/javascript" src="/assets/vue/dist/vue.min.js"></script>
    <link rel="stylesheet" href="/themes/default/css/app.css">
    <script type="text/javascript" src="/themes/default/js/app.js"></script>
</head>
<body>
Welcome page.
</body>
</html>